body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Press Start 2P", system-ui;
}

body,
.snake {
  background-color: #414142;  
}

#game-board {
    border-radius: 100px; 
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 5px;

}

.game-border-1{
    border: #730808 solid 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 10px #730808;
}

.game-border-2 {
    border: #B33C2d solid 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 0 10px #B33C2D;
}

#instruction-text {
    position: absolute;
    top: 60%;
    color: #333;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    margin: 0;
}